@import '../../../../constants/variables.sass'

.intern-data-table
    margin-left: 30px
    overflow-x: auto

    .intern-details-modal
        display: flex
        flex-direction: row

        .intern-details
            flex: 1



